a{

    cursor: pointer;
}
nav{
    background-color: rgb(29, 31, 33);
    border-bottom-style: solid;
    border-bottom-color: rgb(23, 24, 26);
    z-index: 10000;
}
nav a{
    color:rgb(178, 148, 187);
}
nav a:hover{
    color:white;
}

nav .dropdown a:hover{
    background-color: rgb(29, 31, 33);
}