
<nav class="navbar navbar-expand-lg sticky-top">
    
    <a routerLink="/" class="navbar-brand" style="color: rgb(193, 86, 255); font-size: 25px;"><b>JODIOS</b></a>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item active">
                <a class="nav-link" routerLink="/conways-game-of-life">Game of Life</a>
            </li>            

            <!-- <li class="nav-item">
                <div ngbDropdown class="d-inline-block">
                    <a ngbDropdownToggle id="dropdownBasic1" class="nav-link dropdown">Dropdown</a>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <a ngbDropdownItem routerLink="/my/orders">My Orders</a>
                        <a ngbDropdownItem routerLink="/admin/orders">Manage Orders</a>
                        <a ngbDropdownItem routerLink="/admin/products">Manage Products</a>
                        <a ngbDropdownItem (click) = "logout()">Log Out</a>
                    </div>
                </div>
            </li> -->


        </ul>

        <span class="navbar-text">
            <a routerLink="/contact" class="nav-link btn-light" style="border-radius: 3px; background-color: rgb(129, 162, 190); color:black">
              Contact
            </a>
        </span>
    
    </div>
</nav>