a{

    cursor: pointer;
}
nav{
    background-color: rgb(29, 31, 33);
    border-bottom-style: solid;
    border-bottom-color: rgb(23, 24, 26);
    z-index: 10000;
}
nav a{
    color:rgb(0, 140, 255);
}
nav a:hover{
    color:rgb(0, 103, 187);
}
.navbar-brand img{
    color:rgb(0, 140, 255);
    font-size: 25px;
    max-width: 45px;
    max-height: 45px;
}
nav .dropdown a:hover{
    background-color: rgb(29, 31, 33);
}