/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/bootstrap/dist/css/bootstrap.css";
body, html{
    height:100%;
    width:100%;
}
body{
    background-color: rgb(29, 31, 33);
    color:rgba(255, 255, 255, 0.776);
}
.card{
    background-color: rgb(40, 42, 46);
    color:rgba(255, 255, 255, 0.776);
    width: 98%; 
    margin:10px;
}

.card-img-top{
    width:100%;
    max-height: 500px;
    object-fit:contain;
}

