.profilePic{
    width:150px;
    height: 150px;
    border-radius: 100%;
}
mat-icon{
    cursor: pointer;
    color: #008cff;
}

header{
    text-align: center;
}

.interests{
    border:none;
    background-color:#008cff;
    margin: 5px;
}
.interests:hover{
    border:none;
    background-color:#007adf;
    margin: 5px;
}